<a href="https://colab.research.google.com/github/Harry7477/Harrys.innovations/blob/main/ALL%20IN%20ONE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
#traffic light system
directions = str(input("which side want to green = "))
['north', 'south', 'east', 'west']
if directions = 'north'
  print("si = red")
  print("wi = red")
  print("ei = red")
  print("wo = green")
  print("so = green")
  print("eo = green")
  print("no = green")
elif directions = 'south'
  print("go south")
elif directions = 'east'
  print("go east")
elif directions = 'west'
  print("go west"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (ipython-input-36614822.py, line 4)

In [63]:
n = 150
d = 4
a = 3
an = a + (n-1)* d
print(f"{an}")

599

In [64]:
for i in range(5):
  print(i)

0
1
2
3
4

In [65]:
for i in range(1,5):
  print(i)

1
2
3
4

In [66]:
sum = 0
for i in range(1,101,5):
  sum = sum + i
print(sum)

970

In [67]:
sum=0
for i in range(1,1002,5):
  sum=sum+i
print(sum)

100701

In [68]:
fit=1
for i in range(1,11):
  fit=fit*i
print(fit)

3628800

In [69]:
a,b= 5,10
a=a+b
b=a-b
a=a-b
print(a)
print(b)

10
5

In [71]:
fectorial=1
sum=0
for i in range(1,11):
  fectorial=fectorial*i
  sum=sum+fectorial
  print(fectorial)
print(f"total sum= {sum}")

1
2
6
24
120
720
5040
40320
362880
3628800
total sum= 4037913

In [72]:
num= "583256"
print(num[::-1])

652385

In [73]:
num=int(583256)
sum=0
while num > 0:
  sep= num%10
  num=int(num/10)
  sum=sum+sep
print(sum)

29

In [74]:
def num(n):
  sum=0
  while n > 0:
    sep= n%10
    n=int(n/10)
    sum=sum+sep
  return sum
print(num(64))

10

In [75]:
def sumOfFactorial(n):
  fectorial =1
  sum=0
  for i in range(1,n+1):
    fectorial= fectorial*i
    sum= sum+fectorial
  return sum
print(sumOfFactorial(5))

153

In [76]:
def sumOfFactorial(n):
  fectorial =1
  sum=0
  for i in range(1,n+1):

    fectorial= fectorial*i
    print(fectorial)
    fectorial += 2
    sum= sum+fectorial
  return sum
  print()
print(sumOfFactorial(5))

1
6
24
104
530
675

In [77]:
def lastNum(n):
  fectorial =1
  single=0
  finalsum = 0
  final =0
  for j in range(1,n+1):
    for i in range(1,11,+2):
    final=fectorial*i
    print(final)

IndentationError: expected an indented block after 'for' statement on line 7 (ipython-input-3954891145.py, line 8)

In [ ]:
from typing_extensions import final
def lastnum(n):
  sum=0
  for i in range(1,n+1,+2):
   fectorial = 1
   for j in range(1,i+1):
    fectorial=fectorial*i
  return fectorial
print(lastnum(5))
#  sum = sum+final
# print(sum)

In [ ]:
for i in range(1, 22, 2):

  print(i)

In [ ]:
a= 289
b= 187
hcf=0
print(f"your first no is = {a}")
print(f"your second no is = {b}")
if a<b:
  small = b
else:
  small = a
for i in range(1,small+1):
  if i%small == 0:
     hcf = i
print(f"your HCF is = {hcf}")

In [ ]:
a= int(input(""))
b= 20
lcm=0
lowest=0

print(f"your first no is = {a}")
print(f"your second no is = {b}")
if a>b:
  gretest = b
else:
  gretest = a
for i in range(gretest,a*b+1):
  if i%a == 0 and i%b ==0:
    lowest=i
    if lowest < i:
      pass
    print(lcm)

In [ ]:
def fect(n):
  if n == 0 or n == 1:
    return 1
  else:
    return n*fect(n-1)
fect(5)

In [ ]:
def feb(n):
  if n<=0:
    return 0
  elif n==1:
    return 1
  else:
    return feb(n-1)+feb(n-2)

n = int(input("enter number ="))
for i in range(n):
  print(feb(i))
feb(n)

In [ ]:
name = "harwinder"
for i in name:
  print(i)

In [ ]:
name= "harwinder"
if 'w'in name:
  print("yes")
else:
  print("no")

In [ ]:
#how to remove spacing
name= " H a r w i n d e r "
print(name.replace(" ",""))
print(name.strip())
print(name)

In [ ]:
# how to add 2 strings
first_name="Harwinder"
second_name="Singh"
print(first_name + " " + second_name)

In [ ]:
#how to filter by name
states ="Punjab"
print(states.startswith("P"))
print(states.endswith("jab"))

In [ ]:
#checking pelloin drown
name= input("enter you want to check = ")
rever_of_name = name[::-1]
if name == rever_of_name:
  print(f"yes its a palloin drown = {rever_of_name}")
  divied= int(name)/5
  print(divied)
else:
  print(f"no its not palloin drown")

In [ ]:
#name no sidha putha kime karna
name= "harwinder"
for char in name:
  print(char)
  #sidha= sidha+char
  putha= char+putha
#print(sidha)
print(putha)

In [ ]:
name = input("Input = ")
x= input("what you wnt to find = ")
count= 0
for check in name:
  if check == x:
    count= count+1
print(count)