<a href="https://colab.research.google.com/github/Harry7477/Harrys.innovations/blob/main/ALL_IN_ONE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#traffic light system
directions = str(input("which side want to green = "))
['north', 'south', 'east', 'west']
if directions = 'north'
  print("si = red")
  print("wi = red")
  print("ei = red")
  print("wo = green")
  print("so = green")
  print("eo = green")
  print("no = green")
elif directions = 'south'
  print("go south")
elif directions = 'east'
  print("go east")
elif directions = 'west'
  print("go west"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (ipython-input-36614822.py, line 4)

In [ ]:
n = 150
d = 4
a = 3
an = a + (n-1)* d
print(f"{an}")

599

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1,5):
  print(i)

1
2
3
4

In [ ]:
sum = 0
for i in range(1,101,5):
  sum = sum + i
print(sum)

970

In [ ]:
sum=0
for i in range(1,1002,5):
  sum=sum+i
print(sum)

100701

In [ ]:
fit=1
for i in range(1,11):
  fit=fit*i
print(fit)

3628800

In [ ]:
a,b= 5,10
a=a+b
b=a-b
a=a-b
print(a)
print(b)

10
5

In [ ]:
fectorial=1
sum=0
for i in range(1,11):
  fectorial=fectorial*i
  sum=sum+fectorial
  print(fectorial)
print(f"total sum= {sum}")

1
2
6
24
120
720
5040
40320
362880
3628800
total sum= 4037913

In [ ]:
num= "583256"
print(num[::-1])

652385

In [ ]:
num=int(583256)
sum=0
while num > 0:
  sep= num%10
  num=int(num/10)
  sum=sum+sep
print(sum)

29

In [ ]:
def num(n):
  sum=0
  while n > 0:
    sep= n%10
    n=int(n/10)
    sum=sum+sep
  return sum
print(num(64))

10

In [ ]:
def sumOfFactorial(n):
  fectorial =1
  sum=0
  for i in range(1,n+1):
    fectorial= fectorial*i
    sum= sum+fectorial
  return sum
print(sumOfFactorial(5))

153

In [ ]:
def sumOfFactorial(n):
  fectorial =1
  sum=0
  for i in range(1,n+1):

    fectorial= fectorial*i
    print(fectorial)
    fectorial += 2
    sum= sum+fectorial
  return sum
  print()
print(sumOfFactorial(5))

1
6
24
104
530
675

In [ ]:
def lastNum(n):
  fectorial =1
  single=0
  finalsum = 0
  final =0
  for j in range(1,n+1):
    for i in range(1,11,+2):
    final=fectorial*i
    print(final)

IndentationError: expected an indented block after 'for' statement on line 7 (ipython-input-3954891145.py, line 8)

In [ ]:
from typing_extensions import final
def lastnum(n):
  sum=0
  for i in range(1,n+1,+2):
   fectorial = 1
   for j in range(1,i+1):
    fectorial=fectorial*i
  return fectorial
print(lastnum(5))
#  sum = sum+final
# print(sum)

In [ ]:
for i in range(1, 22, 2):

  print(i)

In [ ]:
a= 289
b= 187
hcf=0
print(f"your first no is = {a}")
print(f"your second no is = {b}")
if a<b:
  small = b
else:
  small = a
for i in range(1,small+1):
  if i%small == 0:
     hcf = i
print(f"your HCF is = {hcf}")

In [ ]:
a= int(input(""))
b= 20
lcm=0
lowest=0

print(f"your first no is = {a}")
print(f"your second no is = {b}")
if a>b:
  gretest = b
else:
  gretest = a
for i in range(gretest,a*b+1):
  if i%a == 0 and i%b ==0:
    lowest=i
    if lowest < i:
      pass
    print(lcm)

In [ ]:
def fect(n):
  if n == 0 or n == 1:
    return 1
  else:
    return n*fect(n-1)
fect(5)

In [ ]:
def feb(n):
  if n<=0:
    return 0
  elif n==1:
    return 1
  else:
    return feb(n-1)+feb(n-2)

n = int(input("enter number ="))
for i in range(n):
  print(feb(i))
feb(n)

In [ ]:
name = "harwinder"
for i in name:
  print(i)

In [ ]:
name= "harwinder"
if 'w'in name:
  print("yes")
else:
  print("no")

In [ ]:
#how to remove spacing
name= " H a r w i n d e r "
print(name.replace(" ",""))
print(name.strip())
print(name)

In [ ]:
# how to add 2 strings
first_name="Harwinder"
second_name="Singh"
print(first_name + " " + second_name)

In [ ]:
#how to filter by name
states ="Punjab"
print(states.startswith("P"))
print(states.endswith("jab"))

In [ ]:
#checking pelloin drown
name= input("enter you want to check = ")
rever_of_name = name[::-1]
if name == rever_of_name:
  print(f"yes its a palloin drown = {rever_of_name}")
  divied= int(name)/5
  print(divied)
else:
  print(f"no its not palloin drown")

In [ ]:
#name no sidha putha kime karna
name= "harwinder"
for char in name:
  print(char)
  #sidha= sidha+char
  putha= char+putha
#print(sidha)
print(putha)

In [ ]:
name = input("Input = ")
x= input("what you wnt to find = ")
count= 0
for check in name:
  if check == x:
    count= count+1
print(f"its {count} times")

Input = 1231
what you wnt to find = 1
its 2 times

In [ ]:
a= int(input("your First number = "))
b= int(input("your second number = "))
lcm=0
lowest=0
if a>b:
  gretest = b
else:
  gretest = a
for i in range(gretest,a*b+1):
  if i%a == 0 and i%b ==0:
    lowest=i
    if lowest < i:
      pass
  lcm= lowest
print(lcm)

your First number = 10
your second number = 20
200

In [15]:
Principal = int(input("enter principal= "))
interest = int(input("enter % of interst (monthly)= "))
year= int(input("enter year= "))
month = str(input("enter month= "))
days = int(input("enter days= "))
if month == "January" or "march" or "may" or "july" or "August" or "October" or "December":
  time1 = days/31
elif month == "April" or "June" or "September" or "November":
    time1 = days/30
elif month == "February":
  if year%4==0 and year%100!=0 or year%400==0:
    time1 = days/29
  else:
    time1 = days/28
else:
  print("invalid Month")
si = Principal*time1*interest
print(f"your total interest is {si}")

enter principal= 5000
enter % of interst (monthly)= 5
enter year= 0
enter month= 7
enter days= 1
your total interest is 806.4516129032257

In [20]:
Principal= int(input("enter Principal= "))
Interest= int(input("enter % of interest"))
final= principal*interest
print(final)

KeyboardInterrupt: Interrupted by user

In [21]:
a= [10,20,30,40,50,60]
print(a[4])
#check number is available
if 50 in a:
  print("its available")
else:
  print("not available")

#print in next and next line
for i in a:
  print(i)

#limit print of list
print(a[0:3])
print(a[1:5])
print(a[-4:-1])
print(a[-6:-3])


#sum of all number in the list

add=0
for sum in a:
  add +=sum
print(f"sum of all number are = {add}")



#

50
its available
10
20
30
40
50
60
[10, 20, 30]
[20, 30, 40, 50]
[30, 40, 50]
[10, 20, 30]
sum of all number are = 210