<a href="https://colab.research.google.com/github/Harry7477/Harrys.innovations/blob/main/TRAFFIC_LIGHT_SYSTEM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#traffic light system
directions = str(input("which side want to green = "))
['north', 'south', 'east', 'west']
if directions = 'north'
  print("si = red")
  print("wi = red")
  print("ei = red")
  print("wo = green")
  print("so = green")
  print("eo = green")
  print("no = green")
elif directions = 'south'
  print("go south")
elif directions = 'east'
  print("go east")
elif directions = 'west'
  print("go west"

In [ ]:
n = 150
d = 4
a = 3
an = a + (n-1)* d
print(f"{an}")

599

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1,5):
  print(i)

1
2
3
4

In [ ]:
sum = 0
for i in range(1,101,5):
  sum = sum + i
print(sum)

970

In [ ]:
sum=0
for i in range(1,1002,5):
  sum=sum+i
print(sum)

100701

In [ ]:
fit=1
for i in range(1,11):
  fit=fit*i
print(fit)

3628800

In [ ]:
a,b= 5,10
a=a+b
b=a-b
a=a-b
print(a)
print(b)

10
5

In [ ]:
n= int(input("number of trem find = "))
first= 0
second=1
print(first)
print(second)
for third in range(2,n+1):
  third=first+second
  first=second
  second=third
  print(third)

number of trem find = 10
0
1
1
2
3
5
8
13
21
34
55

In [ ]:
fectorial=1
sum=0
for i in range(1,11):
  fectorial=fectorial*i
  sum=sum+fectorial
  print(fectorial)
print(f"total sum= {sum}")

1
2
6
24
120
720
5040
40320
362880
3628800
total sum= 4037913

In [ ]:
num= "583256"
print(num[::-1])

652385

In [ ]:
num=int(583256)
sum=0
while num > 0:
  sep= num%10
  num=int(num/10)
  sum=sum+sep
print(sum)

29

In [ ]:
def num(n):
  sum=0
  while n > 0:
    sep= n%10
    n=int(n/10)
    sum=sum+sep
  return sum
print(num(64))

10

In [ ]:
def sumOfFactorial(n):
  fectorial =1
  sum=0
  for i in range(1,n+1):
    fectorial= fectorial*i
    sum= sum+fectorial
  return sum
print(sumOfFactorial(5))

153

In [ ]:
def sumOfFactorial(n):
  fectorial =1
  sum=0
  for i in range(1,n+1):

    fectorial= fectorial*i
    print(fectorial)
    fectorial += 2
    sum= sum+fectorial
  return sum
  print()
print(sumOfFactorial(5))

1
6
24
104
530
675

In [ ]:
def lastNum(n):
  fectorial =1
  single=0
  finalsum = 0
  final =0
  for j in range(1,n+1):
    for i in range(1,11,+2):
    final=fectorial*i
    print(final)

IndentationError: expected an indented block after 'for' statement on line 7 (ipython-input-3954891145.py, line 8)

In [ ]:
from typing_extensions import final
def lastnum(n):
  sum=0
  for i in range(1,n+1,+2):
   fectorial = 1
   for j in range(1,i+1):
    fectorial=fectorial*i
  return fectorial
print(lastnum(5))
#  sum = sum+final
# print(sum)

3125

In [ ]:
for i in range(1, 22, 2):

  print(i)

1
3
5
7
9
11
13
15
17
19
21

In [14]:
a= 289
b= 187
hcf=0
print(f"your first no is = {a}")
print(f"your second no is = {b}")
if a<b:
  small = b
else:
  small = a
for i in range(1,small+1):
  if i%small == 0:
     hcf = i
print(f"your HCF is = {hcf}")

your first no is = 289
your second no is = 187
your HCF is = 289

In [34]:
a= int(input(""))
b= 20
lcm=0
lowest=0

print(f"your first no is = {a}")
print(f"your second no is = {b}")
if a>b:
  gretest = b
else:
  gretest = a
for i in range(gretest,a*b+1):
  if i%a == 0 and i%b ==0:
    lowest=i
    if lowest < i:
      pass
    print(lcm)

your first no is = 10
your second no is = 20
0
0
0
0
0
0
0
0
0
0

In [10]:
def fect(n):
  if n == 0 or n == 1:
    return 1
  else:
    return n*fect(n-1)
fect(5)

120

In [37]:
def feb(n):
  if n<=0:
    return 0
  elif n==1:
    return 1
  else:
    return feb(n-1)+feb(n-2)

n = int(input("enter number ="))
for i in range(n):
  print(feb(i))
feb(n)

enter number =10
0
1
1
2
3
5
8
13
21
34

55

In [38]:
name = "harwinder"
for i in name:
  print(i)

h
a
r
w
i
n
d
e
r

In [43]:
name= "harwinder"
if 'w'in name:
  print("yes")
else:
  print("no")

yes

In [51]:
#how to remove spacing
name= " H a r w i n d e r "
print(name.replace(" ",""))
print(name.strip())
print(name)

Harwinder
H a r w i n d e r
 H a r w i n d e r

In [52]:
# how to add 2 strings
first_name="Harwinder"
second_name="Singh"
print(first_name + " " + second_name)

Harwinder Singh

In [57]:
#how to filter by name
states ="Punjab"
print(states.startswith("P"))
print(states.endswith("jab"))

True
True